
@{
    ViewData["Title"] = "DynamicExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>DynamicExcel</h1>
<br/>

<a href="/Admin/Blog/BlogListDynamicExcel" class="btn btn-danger">Excel Blog List İndir</a>

